* {
    box-sizing: border-box;
}

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1200px;
    max-width: 1480px;
}

nav {
    height: 300px;
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
    padding: 1rem;
    margin-top: 1rem;
    float: left;
    font-weight: bold;
    text-align: center;
}

nav a {
    height: 50px;
    width: 130px;   
    padding: 0.75rem 1rem;
    border: 2px solid;
    /*
        J'ai pris les couleurs de la bordure
        directement à partir de l'image intégrée
        dans le pdf
    */
    border-color: #787878;
    border-top-color: #cbcbcb;
    border-left-color: #cbcbcb;
    text-decoration: none;
    color: #3f2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #a26100;
    border-top-color: #000000;
    border-left-color: #000000;
}

header {
    background-color: #80cbc4;
    background-image: url(./lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

h1 a {
    text-decoration: none;
}

h1 a:hover {
    color: #ffffff;
}

h2 {
    margin-top: 2.2rem;
    margin-bottom: 1.6rem;
}

main {
    margin-left: 9.5em;
    margin-right: 1em;
    padding-left: 2.5em;
    padding-right: 2.5em;
    display: block;
}

.conteneur {
    display: flex;
    gap: 56px;
    margin-right: 5px;
}

.dl {
    flex: 1;
}

.dt {
    font-size: 18.5px;
    margin-left: 30px;
    margin-bottom: 11px;
}

.dd {
    margin-left: 30px;
}

img {
    width: 320px;
    height: 315px;
    padding-left: 0em;
    padding-right: 4em;
    padding-bottom: 1em;
}

.clearleft {
    clear: left;
}

.studio {
    
    font-style: italic;
}

.tapis-de-yoga {
    width: 1000px;
    height: 250px;
}

#door {
    float: left;
}

footer {
    background-color: #80cbc4;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}