* {
    box-sizing: border-box;
}

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1200px;
    max-width: 1480px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    float: left;
    font-weight: bold;
    text-align: center;
}

nav a {
    padding: 0.75rem 1rem;
    border: 2px solid;
    /*
        J'ai pris les couleurs de la bordure
        directement à partir de l'image intégrée
        dans le pdf
    */
    border-color: #787878;
    border-top-color: #cbcbcb;
    border-left-color: #cbcbcb;
    text-decoration: none;
    color: #3f2860;
}

nav a:visited {
    color: #497777;
}

nav a:hover {
    color: #a26100;
    border-top-color: #000000;
    border-left-color: #000000;
}

header {
    background-color: #80cbc4;
    background-image: url(./lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}

h2 {
    margin-top: 2rem;
}

dt {
    margin: 1rem;
    font-size: 1.2rem;
}

dt, dd {
    margin-left: 2rem;
}

main {
    margin-left: 9.5em;
    padding-left: 2.5em;
    padding-right: 2em;
    display: block;
}

.conteneur {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.col {
    display: flex;
    flex-direction: column;
}

img {
    width: 320px;
    height: 320px;
    padding-left: 0em;
    padding-right: 4em;
    padding-bottom: 1em;
}

.studio {
    font-style: italic;
}

#hero {
    text-align: center;
}

.tapis-de-yoga {
    width: 1000px;
    height: 250px;
}

#door {
    float: left;
}

footer {
    background-color: #80cbc4;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}