* {
    box-sizing: border-box;
}

body {
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 1200px;
    max-width: 1480px;
}

nav {
    width: 90px;
    padding: 10px;
    float: left;
    font-weight: bold;
    text-align: center;
    padding: 1em;
    
}

nav a {
    text-decoration: none;
    color: #3f2860;
}

nav a:visited {
    color: #497777;    
}

nav a:hover{
    color: #a26100;
}

header {
    background-color: #80cbc4;
    background-image: url(images/lilyheader.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 150px;
}

h1 {
    padding-top: 50px;
    padding-left: 2em;
}




main {
    margin-left: 9.5em;
    padding-left: 2.5em;
    padding-right: 2em;
    display: block;
}

.conteneur {
    display: flex;
}

img {
    width: 320px;
    height: 320px;
    padding-left: 0em;
    padding-right: 4em;
    padding-bottom: 1em;
}

.studio {
    font-style: italic;
}

#hero {
    text-align: center;
}

.tapis-de-yoga {
width: 1000px;
height: 250px;
}

#door{
      float: left;
}

footer {
    background-color: #80cbc4;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}
